<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>

    <div class="main">           
        <div class="block" id="row-1">
            <button class="button-large" id="sendData" style="background-color: white;" name="path" value="button_0" action="#"></button>
            <button class="button-large" id="sendData" style="background-color: white;" name="path" value="button_1" action="#"></button>
            <button class="button-large" id="sendData" style="background-color: white;" name="path" value="button_2" action="#"></button>
            <button class="button-large" id="sendData" style="background-color: white;" name="path" value="button_3" action="#"></button>
            <button class="button-large" id="sendData" style="background-color: white;" name="path" value="button_4" action="#"></button>
            <button class="button-large" id="sendData" style="background-color: white;" name="path" value="button_5" action="#"></button>
            <button class="button-large" id="sendData" style="background-color: white;" name="path" value="button_6" action="#"></button>
            <button class="button-large" id="sendData" style="background-color: white;" name="path" value="button_7" action="#"></button>
            <button class="button-large" id="sendData" style="background-color: white;" name="path" value="button_8" action="#"></button>
            <button class="button-large" id="sendData" style="background-color: white;" name="path" value="button_9" action="#"></button>
        </div>

        <script type="module">
            import { io } from "https://cdn.socket.io/4.4.1/socket.io.esm.min.js";

            const sendButton = document.getElementsByName('path');

            const socket = io()

            sendButton.forEach(element => {
                element.addEventListener('click', () => {
                socket.emit('message', element.value)
                })
            })

        </script>
    </div>
</body>
</html>