<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <script>
        function hideButton(){
        var elemtent = document.getElementById('main')
        elemtent.classList.toggle('hideous-main')
        }
    </script>
    <button style="width: 8px; height: 16px; margin-left: 4px;" onclick="hideButton()"></button>
    <div class="main" id="main">
        <div class="block conteiner-xl" id="input-area">
            <form class="item"  action="/" method="post">
                <input type="text" name="newItem" placeholder="Name" autocomplete="off" required><br><br>
                <input type="radio" name="newItem" value="audio" required><label>Audio</label><br>
                <input type="radio" name="newItem" value="image" required><label>Image</label><br>
                <input type="radio" name="newItem" value="effect" required><label>Effect</label><br>
                <input type="text" name="newItem" placeholder="filename" autocomplete="off" required>
                <button type="submit" name="list" class="btn btn-secondary button-large">+</button>
            </form>
        </div>
    </div>

    <div class="main">
        <form action="http://192.168.100.119:3000/output" method="post">
            <div class="block container-xl" id="row-1">
                <% for (var i = 0; i < newListItems.length; i++) { %>
                    <button class="button-large" id="sendData" style = "background-color: <%= newListColor[i] %>" name = "path" value=<%= newListNames[i] %> action="#">   <%= newListItems[i] %> </button>
                <% } %>
            </div>
        </div>            
        </form>
        <script type="module">
            import { io } from "https://cdn.socket.io/4.4.1/socket.io.esm.min.js";

            const sendButton = document.getElementById('sendData');

            const socket = io()

            sendButton.addEventListener('click', () => {
            socket.emit('message', 'load');
        });
        </script>
    </div>
</body>
</html>