.main{
    margin: 2% auto 2% auto;
}

.hideous-main{
    visibility: hidden;
    height: 0px;
}

.block{
    margin: 2.5% auto 2% auto;
    width: 90%;
    height: 100%;
    background-color: red;
    border: 1px solid black;
}

.small-block{
    margin: 1px;
    width: 64px;
    height: 64px;
    background-color: blue;
    border: 1px solid black;
}

.menu-button{
    margin: 1px;
    width: 16px;
    height: 16px;
    border: 1px solid black;
}

.button-effect{
    color: blue; 
    background-color: blue; 
}

.button-effect:hover{
    color: white; 
}

.button-large{
    padding: 25px 3% 25px 3%;
    margin: 1%;
}